.expand {
    background: url(../src/expand-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.expand h2 {
    width: 227px;
}
.competencia-expand {
    padding: 32px 0;
}
.competencia__header {
    position: relative;
    width: auto;
    height: 46px;
    background: #686868;
    padding: 0 16px;
    cursor: pointer;
}
.competencia__header::before {
    content: "+";
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
}
.competencia__header h4 {
    font: normal normal 100 18px/31px Yantramanav;
    align-self: flex-start;
}
.competencia__info {
    background: #262626;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}
.competencia__info p {
    text-align: left;
    font: normal normal 300 18px Yantramanav;
    height: 100%;
    padding: 24px 16px;
}
.competencia__box.active .competencia__info {
    border-top: 1px orange solid;
    border-bottom: 2px orange solid;
    max-height: 500px;
    transition: max-height 0.3s ease-in;
}
.competencia__box.active .competencia__header h4 {
    font: normal normal bold 18px Yantramanav;
}
.expand .button-comprar {
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .expand {
        background: url(../src/expand-bg-desktop.png);
        background-size: cover;
        height: 611px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .competencia__box {
        display: flex;
    }
    .competencia__header {
        padding-left: 60px;
        width: 378px;
        height: 90.5px;
    }
    .competencia__header h4 {
        font: normal normal normal 32px/41px Yantramanav;
        letter-spacing: 0.67px;
    }
    .competencia__box.active .competencia__header::after {
        content: "";
        background: #f89d24;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 80%;
        height: 2px;
    }
    .competencia__box.active .competencia__header h4 {
        font: normal normal bold 32px/41px Yantramanav;
    }
    .competencia__info {
        width: 583px;
    }
    .competencia-expand {
        height: 362px;
        padding: 0px;
    }
    .desktop-info {
        display: flex;
        width: 583px;
        height: 362px;
        background: #262626;
        flex-direction: column;
        padding: 0 73px;
    }
    .desktop-info button {
        height: 18px;
        background: none;
        color: white;
        border: none;
        font: normal normal bold 14px Yantramanav;
        letter-spacing: 2px;
        padding-top: 10px;
    }
    .desktop-info button + button {
        color: #f89d24;
        padding-left: 30px;
    }
}
@media (min-width: 768px) and (max-width: 927px) {
    .desktop-info button + button {
        padding: 0;
    }
}
@media (min-width: 768px) and (max-width: 810px) {
    .desktop-info p {
        font-size: 14px;
    }
}
