.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.78);
}
.modal__form {
    background: #232323;
    width: 636px;
    height: 720px;
    border-radius: 5px;
}
.modal__form span {
    font-size: 40px;
    cursor: pointer;
    align-self: flex-end;
    padding-right: 35px;
}
.modal__form h5 {
    font: normal normal bold 38px/46px Lato;
    color: #f89d24;
    text-transform: uppercase;
}
.modal__form p {
    text-align: center;
    font: normal normal 300 16px/28px Lato;
    color: #e1e1e1;
    max-width: 459px;
    padding-bottom: 65px;
    padding-top: 30px;
}
.modal__text-inputs input {
    width: 328px;
    height: 56px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #f89d24;
    border-radius: 4px;
    margin-bottom: 16px;
    padding-left: 16px;
    text-align: left;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0.15px;
    color: #f89d24;
}
.modal__form input::placeholder {
    text-align: left;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0.15px;
    color: #f89d24;
}
.modal__form .button-comprar {
    width: 230px;
}
.modal .buttons {
    flex: 1;
}
.modal__check {
    flex-direction: row;
    padding-bottom: 54px;
}
.modal__check input {
    width: 14px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 2px;
}
.modal__check label {
    margin-right: 76px;
}
.modal__check label span {
    text-decoration: underline;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0.15px;
}
