.venda-curso__title {
    height: 297px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../src/background-mesh.svg);
    background-color: #0c0c0c;
}

.venda-curso__title p {
    font: normal normal normal 41px/52px Yantramanav;
    letter-spacing: 0.85px;
    text-align: center;
    font-weight: bold;
}

.venda-curso__button {
    height: 250px;
    background-color: #f89d24;
    width: 100vw;
}

.venda-curso__button p {
    font: normal normal normal 48px/62px Yantramanav;
    padding-bottom: 24px;
}

.venda-curso__button button {
    width: 203px;
    height: 56px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #f89d24;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .venda-curso__title {
        height: 372px;
        position: relative;
    }
    .venda-curso__title p {
        max-width: 800px;
        align-self: flex-start;
        font: normal normal normal 54px/70px Yantramanav;
        font-weight: bold;
        letter-spacing: 1.13px;
        text-transform: capitalize;
    }
    .venda-curso__button {
        position: absolute;
        z-index: 99;
        width: 538px;
        height: 296px;
        align-self: flex-end;
    }
    .venda-curso__button button {
        font-weight: bold;
    }
}

@media screen and (min-width: 768px) and (max-width: 1350px) {
    .venda-curso__button {
        width: 338px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
    .venda-curso__title p {
        font-size: 40px;
        width: 380px;
    }
}
